# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

build
dist
temp
data
workspace
skills

backend/__pycache__
backend/core/__pycache__
backend/modules/__pycache__
backend/error-log
backend/token.json

apps/desktop/node_modules
apps/desktop/dist
apps/desktop/dist-ssr
apps/desktop/package-lock.json
apps/desktop/auto-imports.d.ts
apps/desktop/components.d.ts
apps/desktop/stats.html
apps/desktop/package-lock.json
*.local

.pytest_cache

mcp_config.json
*.spec

# Editor directories and files
.vscode
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.pyc